<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'recipes/css/styles.css' %}"
    />
    <title>Recipe Detail</title>
    <link
      rel="shortcut icon"
      href="{% static 'recipes/images/favicon.png' %}"
    />
    <style type="text/css">
      body {
        background: url("{% static 'recipes/images/background.jpg' %}")
          no-repeat fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div class="nav_bar">
      <a class="login_btn" href="{%url 'recipes:list' %}">Recipes</a>
      <a class="login_btn" href="{%url 'recipes:search' %}">Search</a>
      <a class="login_btn" href="{%url 'logout' %}">Logout</a>
    </div>
    <h2 class="details_name">{{object.name}}</h2>
    <img class="recipe_img_detail" src="{{object.pic.url}}" />
    <div class="details_discrip">
      <b>Name: </b> {{object.name}} <br />
      <b>Description: </b> {{object.description}} <br />
      <b>Cooking Time: </b> {{object.cooking_time}} <br />
      <b>Difficulty: </b> {{object.calc_difficulty}} <br />
      <b>Ingredients: </b> {{object.ingredients}} <br />
    </div>
    <a href="{% url 'recipes:list' %}" class="login_btn">Back</a>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </body>
</html>
