<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login page</title>
  </head>
  <body>
    <h1>Login</h1>
    {% comment %} print heading {% endcomment %} {% comment %} check for error
    message {% endcomment %} {% if error_message %}
    <div>{{error_message}}</div>
    {% endif %} {% comment %} print form {% endcomment %}
    <form action="" method="POST">
      {% comment %} add Django security token {% endcomment %} {% csrf_token %}
      {% comment %} print form received from view {% endcomment %}
      <div>{{form}}</div>

      {% comment %} add button {% endcomment %}
      <button type="submit">Login</button>
    </form>
  </body>
</html>
