.recipe_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 17px;
    padding: 23px 23px 23px 23px;
    margin: 2px;
    margin-top: 30px;
}

.grid_item {
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
}

.recipe_img {
    max-width: 60%;
    height: auto;
    border-radius: 6px;
    margin: 0 auto;
    align-items: center;
}