<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width= , initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'recipes/images/favicon.png' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'recipes/css/styles.css' %}"
    />
    <title>Recipe Home</title>
    <style type="text/css">
      body {
        background: url("{% static 'recipes/images/background.jpg' %}")
          no-repeat fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to Recipe App</h1>
    <br />
    <h3>Log in to your account to see our list of recipes</h3>
    <a href="{%url 'login' %}" class="login_btn"> Login </a>
  </body>
</html>
