<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'recipes/css/styles.css' %}"
    />
    <title>Recipe Search</title>
    <link
      rel="shortcut icon"
      href="{% static 'recipes/images/favicon.png' %}"
    />
    <style type="text/css">
      body {
        background: url("{% static 'recipes/images/background.jpg' %}")
          no-repeat fixed;
        background-size: cover;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    </style>
  </head>

  <hr />
  <body>
    <div class="nav_bar">
      <a class="login_btn" href="{%url 'recipes:list' %}">Recipes</a>
      <a class="login_btn" href="{%url 'recipes:search' %}">Search</a>
      <a class="login_btn" href="{%url 'logout' %}">Logout</a>
    </div>
    <h1 class="details_name">Search for recipes</h1>
    <hr />
    <form class="login_form" action="" method="POST">
      {% csrf_token %} {{form}}
      <button class="login_btn" submit>Search</button>
    </form>
    <div class="search">
      <br />
      <br />
      {% if recipe_df %} {{recipe_df|safe}}
      <br />
      <img alt="chart" src="data:image/png;base64, {{chart|safe}}" />
      {% else %}
      <h3 class="recipe_short">
        No data found, try to look for something else.
      </h3>
      {% endif %}
    </div>
    <br />
    <a href="{% url 'recipes:list' %}" class="login_btn">Back</a>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </body>
</html>
